@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


* {
  box-sizing: border-box;
}
.return-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #0f33ff; /* Blue background */
  color: #fff; /* White text */
  text-decoration: none; /* Removes underline from the link */
  border-radius: 5px; /* Optional: adds a slight curve to the corners */
  font-family: "Roboto", sans-serif; /* Keeps font consistent with the rest of the page */
}

.return-button:hover {
  background-color: #0c2cd3; /* Slightly darker blue on hover for visual feedback */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #0c0c0c;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.container {
  .container {
    display: flex;
    max-width: 90%; /* Adjust based on your layout needs */
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px; /* Your added top margin */
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
  }
  
}
.card {
  margin: 10px;
  background-color: #0c0c0c;
  border-radius: 0px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  border: 12px solid #0f33ff; /* Blue border */

}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%; /* Full width for smaller screens */
  }
}